@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


/* LAYOUT */
:root {
  --primary: #4c064e;
  --error: #e7195a;

  --body_background: #cfcfcf;
  --body_text:#000;


  --accent_background: #fff;

  --header_text: #333;
  --note_text: #222;
  --submit_button_text: #fff;
  --toggle_bg: #636363;
  --toggle_fg: #fff;

  --shadow: #8888880d;
  --border: #868686;

  --edit_bg: #007c15;
  --del_bg: #990000;
}

[data-theme = "dark"] {
  --primary: #c164ff;
  --error: #e7195a;

  --body_background: #141414;
  --body_text:#fff;

  --accent_background:#303030;

  --header_text:#c0c0c0;
  --note_text:#d8d8d8;
  --submit_button_text: #000;
  --toggle_bg: #a500ce;
  --toggle_fg: #fff;

  --shadow:#ffffff;
  --border:#868686;

  --edit_bg:#009118;
  --del_bg:#a70000;
}

/* MAIN PAGE */
body {
  background: var(--body_background);
  margin: 0;
  font-family: "Poppins";
}


/* NAVBAR */
header {
  background: var(--accent_background);
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--header_text);
  text-decoration: none;
}

.switch{
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  float: right;
}
.switch input{
  opacity: 0;
  height: 0;
  width: 0;
}

.slider{
  position:absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--toggle_bg);
  border-radius: 34px;
}
.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--toggle_fg);
  transition: .4s;
  border-radius: 50%;

}

input:checked + .slider:before{
  transform: translateX(26px);
}

/* HOME */
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
  background: var(--body_background);
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}


/* NOTE DETAILS */
.note-details {
  background: var(--accent_background);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: var(--shadow);
}

.note-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.note-details p {
  margin: 0;
  font-size: 0.9em;
  color: var(--note_text);
}

.note-details #edit{
  position: absolute;
  top: 20px;
  right: 150px;
  cursor: pointer;
  background: var(--edit_bg);
  padding: 6px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
}

.note-details #delete{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--del_bg);
  padding: 6px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
}


/* INPUT FORMS AND LABELS */
#title_label, #content_label, h3{
  color: var(--body_text);
}

#title_label, #content_label, #title_input, #content_input {
  display: block;
}

#title_input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  box-sizing: border-box;
  
}

#content_input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  box-sizing: border-box;
  height: 150px;
  resize: none;
  
}

form button {
  background: var(--primary);
  border: 0;
  color: var(--submit_button_text);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  margin-top: 0;
}


/* EDIT MODAL */
#edit_form{
  border: 1px solid #868686;
  height: fit-content;
  padding: 5px;
  margin-top: 10px;
}

.modalContent #save{
  background: #007c15;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  margin-top: 0;
}

.modalContent #close{
  background: #990000;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  margin-top: 0;
}


/* ERROR */
#title_input.error,#content_input.error{
  border: 2px solid var(--error);
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
} 