@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #4c064e;
  --error: #e7195a;

  --body_background: #cfcfcf;
  --body_text:#000;


  --accent_background: #fff;

  --header_text: #333;
  --note_text: #555;
  --submit_button_text: #fff;

  --shadow: #0000000d;
  --border: #868686;

  --edit_bg: #007c15;
  --del_bg: #990000;
}

[data-theme = "dark"] {
  --primary: #c164ff;
  --error: #e7195a;

  --body_background: #141414;
  --body_text:#fff;

  --accent_background:#303030;

  --header_text:#c0c0c0;
  --note_text:#d8d8d8;
  --submit_button_text: #000;

  --shadow:#ffffff;
  --border:#868686;

  --edit_bg:#009118;
  --del_bg:#a70000;
}

/* main page */

body {
  background: var(--body_background);
  margin: 0;
  font-family: "Poppins";
}



/* header */
header {
  background: var(--accent_background);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--header_text);
  text-decoration: none;
}

/* home */
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
  background: var(--body_background);
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

/* note details */
.note-details {
  background: var(--accent_background);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: var(--shadow);
}
.note-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.note-details p {
  margin: 0;
  font-size: 0.9em;
  color: var(--note_text);
}

.note-details #edit{
  position: absolute;
  top: 20px;
  right: 150px;
  cursor: pointer;
  background: var(--edit_bg);
  padding: 6px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
}
.note-details #delete{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--del_bg);
  padding: 6px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
}

/* input forms */
label, h3{
  color: var(--body_text);
}

label, input {
  display: block;
}

input  {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  box-sizing: border-box;
  
}

textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  box-sizing: border-box;
  height: 150px;
  resize: none;
  
}

form button {
  background: var(--primary);
  border: 0;
  color: var(--submit_button_text);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  margin-top: 0;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
} 

/* edit modal */
#edit_form{
  border: 1px solid #868686;
  height: fit-content;
  padding: 5px;
  margin-top: 10px;
}

.modalContent #save{
  background: #007c15;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  margin-top: 0;
}
.modalContent #close{
  background: #990000;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  margin-top: 0;
}

/* error */
input.error{
  border: 2px solid var(--error);
}
textarea.error{
  border: 2px solid var(--error);
}
